.pagination {
  width: 200px;
  margin: 0 auto;

  &__bar {
    width: 100%;
    height: 6px;
    background-color: #EEEFF2;
    border-radius: 32px;
    margin-bottom: 16px;

    &::after {
      content: '';
      display: block;
      width: var(--width);
      height: 100%;
      background-color: #780096;
      border-radius: 32px;
      transition: width 0.36s ease-in-out;
    }
  }

  &__arrays {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &__left {}

  &__current {}

  &__total {}

  &__right {}
}